.playlist__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 1rem 2rem;
  background-color: #302a38;
}

.playlist__title {
  border: none;
  background-color: #302a38;
  color: #e0e0e0;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  /* text-transform: capitalize; */
  text-align: center;
}

.playlist__title::placeholder {
  color: #9282a5;
}

.playlist__title:focus {
  outline: none;
}

.playlist__tack_container {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.playlist__track_remove-button {
  align-self: center;
  margin-left: auto;
  margin-right: 1rem;
  padding: 0.1rem 0.7rem;
  font-size: 1.2rem;
  font-weight: 900;
  border-radius: 4px;
}

.playlist__track_name {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 300;
}

.playlist__track_artist {
  margin: 0;
  font-weight: 100;
}

.addPlaylist__button {
  width: 50%;
  min-width: 150px;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 0.4rem;
  margin-top: 1rem;
}
