* {
  font-family: 'Lato', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

:root {
  font-size: 18px;
}

img {
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

body {
  background-color: #1f1b24;
  color: #e0e0e0;
}

button {
  background-color: #4caf50;
  color: #fff;
  border-style: none;
  cursor: pointer;
  transition: transfor 200ms ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.main__container {
  display: flex;
  justify-content: space-around;
  padding: 0 3rem;
}

.search__container {
  flex: 1.5;
}
.playlist__container {
  flex: 1;
}

.Toastify__toast {
  background-color: #564d62;
  color: #e0e0e0;
}

@media (max-width: 768px) {
  .main__container {
    flex-direction: column;
  }

  .playlist__container {
    padding: 2rem 0 !important;
  }
  .playlist__title {
    background-color: transparent !important;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
  }

  .addPlaylist__button {
    width: 90% !important;
>>>>>>> 8723dfd (Fix some styling issues.)
>>>>>>> 6cbcb18 (Fix some styling issues.)
  }
}
